@page
@model WebApp.Pages.Users.Posts.AddModel
@{
}


<div>
    <div class="container">
        <form method="post">
            <div class="mb-3">
                <label for="heading" class="form-label">Heading</label>
                <input type="text" class="form-control" id="heading" 
            </div>

            <div class="mb-3">
                <label for="pageTitle" class="form-label">Page Title</label>
                <input type="text" class="form-control" id="pageTitle" 
            </div>

            <div class="mb-3">
                <label for="heading" class="form-label">Content</label>
                <textarea class="form-control" id="content" ></textarea>
            </div>

            <div class="mb-3">
                <label for="featuredImageUrl" class="form-label">Featured Image Url</label>
                <input type="text" class="form-control" id="featuredImageUrl" >
            </div>

            <div class="mb-3">
                <label for="urlHandle" class="form-label">Url Handle</label>
                <input type="text" class="form-control" id="urlHandle" >
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" class="form-control" id="author">
            </div>

            <div class="mb-3">
                <button class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>

