@page
@model WebApp.Pages.Users.Posts.ListsModel
@{
}


<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Posts</h1>
    </div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Heading</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogpost in Model.BlogPosts)
            {
                <tr>
                    <td>@blogpost.PageTitle</td>
                    <td>@blogpost.Author</td>
                    <td><a href="/Users/Posts/Edit/@blogpost.Id">View</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
