@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Share your thoughts</h1>
    <div class="sidebar">
        <!-- Sidebar -->
        <aside class="sidebar__sidebar">
            <p>This an ongoing project!</p>
        </aside>

        <!-- Main -->
        <main class="sidebar__main">
            <div>
                @foreach (var post in Model.BlogPosts)
                {
                    <div class="post-body">
                        <h5 class="author">Author: @post.Author</h5>
                        <p class="post-content">@post.Content</p>
                        <p class="post-date">@post.PublishedDate</p>
                    </div>
                    <div class="empty-bar"></div>
                }
            </div>
        </main>
    </div>
</div>
