@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Main Posts -->
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar">
            <div>
                <h3>MENU</h3>
                <a href="#section1" class="btn btn-outline-success"><i class="fa fa-home" style="font-size: 24px; color: #B4F8C8"></i>View posts</a>
                <a href="#section2" class="btn btn-outline-success"><i class="fa fa-star" style="font-size: 24px; color: #B4F8C8"></i>Selected posts</a>
                <a href="/Users/Posts/Add" id="createPost" class="btn btn-outline-success"><i class="fa fa-location-arrow" style="font-size:24px; color: #B4F8C8"></i>Create Post</a>
            </div>

        </div>

        <!-- Main -->

        <main class="main">
            <section id="section1">
                <div class="post-body">
                    @foreach (var post in Model.BlogPosts)
                    {
                        <div class="post-card">
                            <a href="/Users/Posts/Edit/@post.Id" style="text-decoration: none"><h4 class="post-title">@post.PageTitle</h4></a>
                            <p class="post-content">@post.Content</p>
                            <p class="post-author">Created by @post.Author</p>
                            <p class="post-date">@post.PublishedDate</p>
                            <!-- Like function?
                            <button type="button" class="w3-button w3-theme-d5 w3-margin-bottom">Like</button>
                            -->
                        </div>
                    }
                </div>
            </section>
        </main>
    </div>



    <!-- Other functions -->
    <section id="section2">
        <div class="container">
            <h3 class="display-4">Selected Posts</h3>

            <div class="row">
                <div class="col-sm-10 col-md-4 m-auto">
                    <div class="testmonial-wrapper">
                        <img src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*" alt="Selma" width="128" height="128">
                        <h6 class="title mb-3">Selema</h6>
                        <p>It's a really fun forum! It's a great way to stay in touch and share updates with each other.</p>
                    </div>
                </div>
                <div class="col-sm-10 col-md-4 m-auto">
                    <div class="testmonial-wrapper">
                        <img src="https://media.newyorker.com/photos/5e49bf473399bf0008132231/1:1/w_2539,h_2539,c_limit/Kenseth-CatProfile.jpg" alt="Mauji" width="128" height="128">
                        <h6 class="title mb-3">Mauji</h6>
                        <p>
                            I really appreciate the user-friendly interface of this platform.
                            It's easy to navigate, and I can quickly find the features I need without feeling overwhelmed.
                        </p>
                    </div>
                </div>
                <div class="col-sm-10 col-md-4 m-auto">
                    <div class="testmonial-wrapper">
                        <img src="https://cdn.dribbble.com/users/2292929/screenshots/17014244/media/394bc8af881be508e2aebe67649478a6.jpg?compress=1&resize=400x300" alt="Kiara" width="128" height="128">
                        <h6 class="title mb-3">Kiara</h6>
                        <p>The variety of content on this platform is impressive.I can find posts about everything from current events to cooking to funny memes.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    </div>

</body>
</html>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - WebApp - Christoffer, Amanda, Oli, Jiaojiao - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
