@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="sidebar">
        <!-- Sidebar -->
        <aside class="sidebar__sidebar">
            <p>This an ongoing project!</p>
        </aside>

        <!-- Main -->
        <main class="sidebar__main">...</main>
    </div>
</div>
